body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #262626;
    color: #fff;
    font-family: Roboto;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://4kwallpapers.com/images/wallpapers/moon-mountains-3840x2160-11338.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.container {
    margin-top: -25px;
    padding: 5px;
}

.person {
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 10px;
    color: yellow;
    
}

#btn {
    background-color: green;
    padding: 10px;
    border: none;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}


.heart {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.heart span {
    font-family: cursive;
    font-style: italic;
    font-size: 14px;
    opacity: 0.5;
}